/* Fuente general y padding */
.home {
  font-family: Arial, sans-serif;
}

/* Banner de Bienvenida  */

.home__banner {
  text-align: center;
  padding: 3rem 0;
  background-color: #7bb9a4;
}
@media (min-width: 768px) {
  .home__banner {
    padding: 5rem 0;
  }
}
@media (min-width: 992px) {
  .home__banner {
    padding: 10rem 0;
  }
}

.home__banner-content {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
@media (min-width: 992px) {
  .home__banner-content {
    flex-direction: row;
    justify-content: space-between;
  }
  
}

.home__banner-image {
  max-width: 20rem;
  margin: 0 auto;
}

.home__banner-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.home__title {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.4;
}

.home__description {
  color: #fef3c7;
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.home__cta {
  max-width: 13rem;
  background-color: #fef3c7;
  color: #7bb9a4;
  border: none;
  padding: 0.5rem 1.5rem;
  font-size: 1.1rem;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 4rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}

.home__cta:hover {
  background-color: #fcd34d;
}

/* Productos destacados section */

.home__featured-products {
  margin-top: 3rem;
}

.home__section-title {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.home__products {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.home__product {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  padding-bottom: 1rem;
}

.home__image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.home__product p {
  margin-top: 0.75rem;
  font-weight: bold;
  line-height: 1.4;
}

/* Responsive productos layout */

@media (min-width: 768px) {
  .home__products {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .home__product {
    flex: 1;
    max-width: 30%;
  }
}

/* Sección "¿Cómo funciona?" */

.home__about {
  margin-top: 3rem;
  text-align: center;
}

.home__about p {
  font-size: 1.1rem;
  margin-top: 0.5rem;
}
